APP_DOMAIN=plane-test.ruijie.com.cn
PUBLIC_URL=https://plane-test.ruijie.com.cn
API_ENV_FILE=/data/plane/deployments/ruijie/.env
COMPOSE_ENV_FILE=/data/plane/deployments/ruijie/.env

LISTEN_HTTP_PORT=80
LISTEN_HTTPS_PORT=443
TLS_CERT_DIR=/etc/plane/certs

DEBUG=0
CORS_ALLOWED_ORIGINS=https://plane-test.ruijie.com.cn
FILE_SIZE_LIMIT=5242880
GUNICORN_WORKERS=2
API_KEY_RATE_LIMIT=60/minute

POSTGRES_USER=plane
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_HEX
POSTGRES_DB=plane
PGDATA=/var/lib/postgresql/data

RABBITMQ_HOST=plane-mq
RABBITMQ_PORT=5672
RABBITMQ_USER=plane
RABBITMQ_PASSWORD=CHANGE_ME_RABBITMQ_HEX
RABBITMQ_VHOST=plane

SECRET_KEY=CHANGE_ME_DJANGO_SECRET
LIVE_SERVER_SECRET_KEY=CHANGE_ME_LIVE_HEX

USE_MINIO=0
AWS_REGION=cn-beijing
AWS_ACCESS_KEY_ID=CHANGE_ME_OSS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=CHANGE_ME_OSS_ACCESS_KEY_SECRET
AWS_S3_BUCKET_NAME=CHANGE_ME_OSS_BUCKET
AWS_S3_ENDPOINT_URL=https://oss-cn-beijing.aliyuncs.com
SIGNED_URL_EXPIRATION=3600
MINIO_ENDPOINT_SSL=1

IS_CAS_ENABLED=1
CAS_LOGIN_URL=https://sid.ruijie.com.cn/login
CAS_CALLBACK_URL=https://plane-test.ruijie.com.cn/auth/cas/callback/
CAS_IDENTITY_EXCHANGE_URL=https://tianshu-test.ruijie.com.cn/tianshu-manager-service/v1/auth/exchange-cas-ticket
CAS_IDENTITY_EXCHANGE_SECRET=CHANGE_ME_MANAGER_SHARED_SECRET
CAS_RENEW=0
ENABLE_SIGNUP=1

OPENAI_BASE_URL=https://uniapi.demo.com.cn/v1